
.login-container {
  background: #c9e8e8;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 420px;
  animation: fadeIn 1s ease-in-out;
  margin-top: 100px;
  margin-left:500px;
  margin-right: 90px;
  margin-bottom: 30px;
}

p{
  text-align: center;
  color: #7b7979;
}
.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #243d3d;
  font-weight: 600;
}

.login-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #d2d0d0;
  border-radius: 8px;
  transition: all 0.3s;
  font-size: 16px;
}

.login-container input:focus {
  border-color: #243d3d;
  outline: none;
  background: #ffffff;
}

.login-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #243d3d;
  cursor: pointer;
  margin-left: 15px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
